/* ------- common styles------ */
:root {
    --primary-color: rgb(230, 83, 60);
    --secondary-gray-color: rgba(255, 255, 255, 0.5);
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    background: black;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    padding: 2% 10%;
}


/* ------ header related icon ------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-icon {
    color: var(--primary-color);
    font-weight: 5800;
    font-size: 2.2rem;
}

.nav-link {
    border: 1px solid rgba(255, 255, 255, 0.267);
    border-radius: 16rem;
    display: flex;
}

.nav-link>a {
    text-decoration: none;
    color: white;
    margin-right: 1.25rem;
    padding: 5px 1rem;
}

.color-link {
    background-color: rgb(230, 83, 60);
    border-radius: 16rem;
}

.nav-link2 {
    display: none;
}


/* responsive  media for mobile
 */

@media screen and (max-width: 576px) {

    /* --common style-- */
    header {
        padding: 2% 10%;
    }


    /* header style */
    .nav-link {
        display: none;
    }

    .nav-link2 {
        display: block;
    }

    .fa-solid {
        color: white;
        font-size: 2rem;
    }
}