/* ------- common styles------ */
:root {
    --primary-color: rgb(230, 83, 60);
    --secondary-gray-color: rgba(255, 255, 255, 0.5);
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    background: black;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 100;
    font-style: italic;
    font-size: 11rem;
}

header,
.habit-section,
.run,
.bmi-section {
    padding: 0% 10%;
    margin-bottom: 100px;
}

h1,
h2,
h3,
h4,
a {
    color: white;
}

.common-p {
    color: var(--secondary-gray-color);
    font-size: 18px;

}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

.section-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

/* ------ header related icon ------- */

header {
    background-image: linear-gradient(rgba(39, 38, 38, 0.349), rgba(104, 102, 102, 0.514), rgba(32, 32, 32, 0.281));
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-icon {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 3.5rem;
}

.nav-link {
    border: 1px solid rgba(255, 255, 255, 0.267);
    border-radius: 16rem;
    display: flex;
}

.nav-link>a {
    margin-right: 1.25rem;
    padding: 1rem 2rem;
}

.color-link {
    background-color: rgb(230, 83, 60);
    border-radius: 20rem;
}

.nav-link2 {
    display: none;
}

/* banner related styles */
.banner {
    margin-top: 70px;
    display: flex;
}

.banner-part1,
.banner-part2 {
    width: 50%;
}

.banner-part1 {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

}

.banner-part2 {
    text-align: right;
}

.banner-part2>img {
    width: 60%;
}

.banner-title {
    margin-bottom: 20px;
    font-size: 6.5rem;
    font-weight: 800;
}

#banner-p {
    font-size: 22px;
}

.banner-p {
    padding-right: 40%;
}

.button {
    margin-top: 2rem;
}

.btn1,
.btn2 {
    margin-top: 90px;
    border: 1px solid white;
    border-radius: 4rem;
    padding: 1.7% 7%;
}

.btn1 {
    border-color: var(--primary-color);
    margin-right: 14px;
    background-color: var(--primary-color);
}

.btn-mobile {
    display: none;
    width: 150px;
}

/* bos position style*/
.banner-part2 {
    position: relative;
}

.box1,
.box2 {
    text-align: left;
    backdrop-filter: blur(20px);
    position: absolute;
    padding: 10px 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 193px;
    height: 98px;
    left: 250px;
    top: 569px;

}

.box2 {
    width: 193px;
    height: 98px;
    left: 550px;
    top: 159px;
}

.box-h {
    margin: 0;
    padding: 0;
}

.box-h2 {
    font-size: 3em;
}

.box p {
    margin: 5px 0;
    padding: 0;
}

.box2-p {
    padding: auto;
    margin-top: 20px;
}

.ball {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



/* Change Your Habits section */

.habit-section {
    text-align: center;

}

.habit-section>p {
    padding: 0 27%;
}

.all-habits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.habit-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}


.habit-item>img {
    border-radius: 50%;
}

.habit-item>p {
    width: 250px;
}


/* Run an Extra Mile Easily section */


.card {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    padding: 30px;
    background-color: rgba(105, 103, 103, 0.541);
    border-radius: 25px;
}

.card1 {
    width: 60%;
}

.card2 {
    width: 30%;
}

.card1>p {

    width: 70%;
    margin: 40px 0;

}

.card-btn {
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 20px 80px;
    background-color: var(--primary-color);
    border-radius: 50px;
    border: 0;

}

.card2 {
    background-image: url("images/run.jpg");
    background-position: right 35% bottom 70%;
    background-size: 320%;
    width: 466px;
    height: 412px;
    border-radius: 25px;
}

/*  BMI Calculator Chart section  */

.bmi-heading {
    padding-left: 25%;
}

.bmi-heading>p {
    width: 55%;
}

.bmi {
    background-color: rgba(105, 103, 103, 0.541);
}

.bmi-section {
    padding: 3% 10%;
    display: flex;
    justify-content: space-between;
}

.bmi-flex-title {
    font-size: 28px;
    font-weight: 800;
}

.bmi-form>h3 {
    margin-bottom: 0;
}

.bmi-form>p {
    width: 80%;

}

















/* responsive  media for mobile
 */

@media screen and (max-width: 576px) {

    /* --common style-- */
    header,
    .habit-section,
    .run {
        padding: 0% 5%;
    }

    .tangerine-regular {
        font-size: 4rem;
    }

    a {
        font-size: 18px;
    }

    .section-title {
        font-size: 32px;
        font-weight: 900;
    }

    /* header style */

    .nav-link {
        display: none;
    }

    .nav-link2 {
        display: block;
    }

    .website-icon {
        font-size: 2.5rem;
    }

    .fa-solid {
        color: white;
        font-size: 2rem;
    }

    /* banner style */
    .banner {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .banner-part1 {
        padding-top: 0rem;

    }

    .banner-title {
        margin-bottom: 10px;
        font-size: 2.5em;
        font-weight: 800;
    }

    .common-p {
        font-size: 15px;
    }

    .button {
        display: none;
    }

    .btn-mobile {
        display: flex;
        gap: 15px;
        margin-top: 20px;
    }

    .b1,
    .b2 {
        color: white;
        border-radius: 35px;
        padding: 15px 30px;
        font-size: 18px;
    }

    .b1 {
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        padding: 15px 35px;
    }

    .b2 {
        border: 1px solid rgba(255, 255, 255, 0.39);
        background-color: black;
    }

    .banner-part1,
    .banner-part2 {
        width: 100%;
    }

    #banner-p {
        font-size: 16px;
    }

    .banner-p {
        padding-right: 5%;
    }


    .banner-part2>img {
        width: 100%;
    }


    /* ----- position box ----- */

    .box1,
    .box2 {
        padding: 5px 10px 0px 10px;
        margin-bottom: 0;
    }

    .box1 {
        width: 163px;
        height: 88px;
        left: 0px;
        top: 399px;

    }

    .box2 {
        align-items: center;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 5px;
        width: 153px;
        height: 73px;
        left: 210px;
        top: 89px;
    }

    .box-h {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    .box-h2 {
        font-size: 30px;
    }

    .ball {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }



    /* Change Your Habits section */

    .habit-section {
        text-align: center;

    }

    .habit-section>p {
        padding: 0;
    }

    .all-habits {
        flex-direction: column;

    }

    .habit-item>p {
        width: 230px;
    }

    /* run section */
    .card {
        flex-direction: column;
        padding: 0px 0px 20px 40px;

    }

    .card1,
    .card2 {
        width: 100%;
    }

    .card1>p {
        margin-bottom: 20px;

    }

    .card-btn {
        font-size: 22px;
        padding: 18px 90px;
    }

    .card2 {
        background-size: 180%;
        width: 287px;
        height: 170px;
    }

}